[Bootstrap]
Zip=../media/packs/OgreCore.zip

# Resource locations to be added to the default path
[General]
FileSystem=./media
Zip=./media/packs/OgreCore.zip
FileSystem=./media/models
FileSystem=./media/materials/scripts
FileSystem=./media/materials/textures

[OgreOde]
FileSystem=./media
