# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
FileSystem=./media/Essential/Boot/

# Resource locations to be added to the default path
[General]
FileSystem=./media/
FileSystem=./media/Essential/
FileSystem=./media/Essential/BetaGUI/
FileSystem=./media/Essential/BetaGUIExtended/
FileSystem=./media/Essential/Fonts/
FileSystem=./media/SimpleMeshes/
FileSystem=./media/ComplexMeshes/
FileSystem=./media/Env/