#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

PYTHON	:= /usr/bin/python
#PYVER   := $(shell $(PYTHON) -c 'import sys; print sys.version[:3]')
PYVERS	= 2.5 #$(shell pyversions -vr)

build: build-stamp
build-stamp:
	# We set LD_PRELOAD='' to stop fakeroot from killing the code generation
	# Core Modules
	LD_PRELOAD='' python BuildModule.py --usesystem --failhard -g -c ois
	LD_PRELOAD='' python BuildModule.py --usesystem --failhard -g -c cegui
	LD_PRELOAD='' python BuildModule.py --usesystem --failhard -g -c ogre
	# Extra modules
	LD_PRELOAD='' python BuildModule.py --usesystem --failhard -g -c noise
#	LD_PRELOAD='' python BuildModule.py --usesystem --failhard -g -c ogreode
	LD_PRELOAD='' python BuildModule.py --usesystem --failhard -g -c betagui
	LD_PRELOAD='' python BuildModule.py --usesystem --failhard -g -c cadunetree
	LD_PRELOAD='' python BuildModule.py --usesystem --failhard -g -c caelum
	LD_PRELOAD='' python BuildModule.py --usesystem --failhard -g -c et
	LD_PRELOAD='' python BuildModule.py --usesystem --failhard -g -c plib
	LD_PRELOAD='' python BuildModule.py --usesystem --failhard -g -c ogreforests
#	LD_PRELOAD='' python BuildModule.py --usesystem --failhard -g -c ogreal
	LD_PRELOAD='' python BuildModule.py --usesystem --failhard -g -c watermesh
	touch $@-stamp

build-python%:
	dh_testdir
	python$* setup.py build

clean:
	dh_testdir
	dh_testroot
	rm -f build-python*
	rm -rf build
	-find . -name '*.py[co]' | xargs rm -f
	dh_clean

install: build $(PYVERS:%=install-python%)

install-python%:
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	python$* setup.py install --root=$(CURDIR)/debian/python-ogre

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do here.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs README ChangeLog.txt
	dh_pycentral
	dh_compress -X.py
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

#prep:
#	# Build and install the lastest gccxml
#	cd ..; python python-ogre/BuildModule.py -r -b gccxml
#	# Build and install the lastest pygccxml
#	cd ..; python python-ogre/BuildModule.py -r -b pygccxml
#	# Build and install the extra boost stuff we need
#	cd boost; fakeroot ./debian/rules binary-arch
#	sudo dpkg --install libboost-python1.34.1-index*.deb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure prep build-python2.5
