Source: python-ogre
Section: python
XS-Python-Version: >=2.4
Priority: optional
Maintainer: Tim 'Mithro' Ansell <mithro@mithis.com>
Build-Depends-Indep: python-central (>= 0.5.6), python-setuptools (>= 0.6b3-1), python-all
Build-Depends: debhelper (>= 5.0.38),
	cmake (>= 2.4.0), scons,
	zziplib-bin,
	libboost1.36-dev (>= 1.36),
	libboost-python1.36-dev (>= 1.36),
	libfreeimage-dev,
	libois-dev,
	libogre-dev (>= 1.6),
	libceguiogre-dev (>= 1.6),
	libopenal-dev, libogg-dev, libvorbis-dev,
	libavformat-dev, libavcodec-dev,
	gccxml (>=0.7.0),
	pygccxml, pyplusplus
Standards-Version: 3.7.2

Package: python-ogre
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends},
XB-Python-Version: ${python:Versions}
Description: Python bindings for Ogre 3d engine and a number of other graphic
 and game libraries.
 .
 Python-Ogre is a free open source Python interface to a wide range of C++
 libraries. Focused primarly on supporting the Ogre 3D graphics library and
 other Graphics and Gaming libraries. Python-Ogre allows developers to focus
 on their 'application', taking advantage of the simplicity of Python with 
 the performance and functionality of the underlying libraries.

Package: python-ogre-dbg
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, python-ogre (= ${Source-Version})
XB-Python-Version: ${python:Versions}
Description: Debug symbols for the python-ogre package.
 .
 Python-Ogre is a free open source Python interface to a wide range of C++
 libraries. Focused primarly on supporting the Ogre 3D graphics library and
 other Graphics and Gaming libraries. Python-Ogre allows developers to focus
 on their 'application', taking advantage of the simplicity of Python with 
 the performance and functionality of the underlying libraries.
