#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_COMPAT=5

export CFLAGS=-g
PYTHON	:= /usr/bin/python
PYVERS  := $(shell $(PYTHON) -c 'import sys; print sys.version[:3]')
#PYVERS	= 2.5 #$(shell pyversions -vr)

export BUILDFLAGS=--usesystem --verbose --failhard -g -c


build-python%:
	mkdir -p $(CURDIR)/debian/python-ogre-demos/usr/share/python-ogre-demos/
	cp -rvf demos/* $(CURDIR)/debian/python-ogre-demos/usr/share/python-ogre-demos/
	# Clean up any svn directories
	find $(CURDIR)/debian/python-ogre-demos -name .svn | xargs rm -rf || true
	# Remove any plugins.cfg files
	find $(CURDIR)/debian/python-ogre-demos -name plugins.cfg | xargs rm || true
	# Remove any yet to work demos
	find $(CURDIR)/debian/python-ogre-demos -name tofix | xargs rm -rf || true 
	# Remove windows only demos
	find $(CURDIR)/debian/python-ogre-demos -name dshow | xargs rm -rf || true
	# Remove any log files
	find $(CURDIR)/debian/python-ogre-demos -name \*.log | xargs rm || true

clean:
	dh_testdir
	dh_testroot
	-find . -name '*.py[co]' | xargs rm -f
	dh_clean

install: $(PYVERS:%=build-python%) $(PYVERS:%=install-python%)

install-python%:
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do here.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_pycentral
	dh_compress -X.py
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb


binary: binary-indep binary-arch
.PHONY: build clean demos binary-indep binary-arch binary install configure prep build $(PYVERS:%=build-python%) $(PYVERS:%=install-python%)
